<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SmokeTestSuite">
  <test name="verifyTitle">
    <classes>
      <class name="com.googleTest.GoogleProject.TestClass"/>
    </classes>
  </test> 
  
  <test name="verifyImages">
    <classes>
      <class name="com.googleTest.GoogleProject.TestImageClass"/>
    </classes>
  </test> 
  
</suite> 


